<h3><%= @user.username %></h3>
<p><%= @user.email %></p>


<div id="container" style="width:100%; height:400px;"></div>

<%= javascript_tag do %>
var questions = <%= raw @questions %>;
var answers = <%= raw @answers %>;
var comments = <%= raw @comments %>;
var user = <%= raw @user.username %>
<% end %>

<script type="text/javascript"> graph(user, questions, answers, comments) </script>

Number of unanswered questions: 
<%= @unanswered_questions %>