<div class='answer
'>
<span class='comment-heading'><%= distance_of_time_in_words(answer.created_at, Time.now) %> ago, <%=link_to answer.author.username, answer.author %> answered</span>
<% if logged_in? && current_user.id == answer.author_id%>
  <%= link_to content_tag(:i, "", class: ['fa', 'fa-times']), question_answer_path(question_id: @question.id, id: answer.id), method: :delete %>
<%end%>
<br>
<%=answer.body%>

<br>
<a style="cursor: pointer;" class='show-comment'>comment</a>
<div class='comment-form'><%= render partial: 'comments/form', locals: {id_type: "answer", id: answer.id} %></div>
<%= render answer.comments %>
<br>
</div>
